{% load i18n %}

<div class="card shadow border-0 mb-4 position-relative">
  {#  <img src="{{ userprofile.avatar_url }}" class="card-img-top img-fluid" alt="...">#}
  <div style="background-image: url('{{ userprofile.avatar_url }}');
      background-size: cover;
      background-position: center;
      width: 100%;
      padding-top: 100%;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      ">
  </div>
  {% if userprofile.user == user %}
    <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal"
            style="position: absolute; top:10px; right: 10px"
            data-bs-target="#changeAvatarModal">
      <i class="bi bi-camera-fill"></i>
    </button>
  {% endif %}
  <div class="card-body">
    <h5 class="card-title mb-0">{{ userprofile.nickname }}</h5>
    {% if userprofile.user == user %}
      <a class="btn btn-sm btn-dark mt-1" href="{% url "user-profile-edit" %}">
        <i class="bi bi-gear-fill"></i> {% trans 'edit profile' %}
      </a>
    {% endif %}
  </div>
</div>

<div class="modal fade" id="changeAvatarModal" tabindex="-1" aria-labelledby="changeAvatarModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <form method="post" enctype="multipart/form-data" action="{% url "upload-avatar" %}">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteCommentModalLabel">{% trans "Upload new avatar" %}</h5>
        </div>
        <div class="modal-body d-flex">
            <div class="col flex-grow-0 flex-shrink-1 mb-2">
              <div style="background-image: url('{{ userprofile.avatar_url }}');
                  background-size: cover;
                  background-position: center;
                  width: 100px;
                  padding-top: 100px;
                  border-radius: 6px;
                  ">
              </div>
            </div>
            <div class="col flex-grow-1 p-2">
              {{ form.avatar.label_tag|cut:":" }}
              {{ form.avatar }}
              {% if form.avatar.errors %}
                {% for error in form.avatar.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
              {% endif %}
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        </div>
      </div>
    </form>
  </div>
</div>
