{% extends "base_webapp.html" %}
{% load custom_tags %}
{% load static %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="container-fluid px-0 bg-white border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb" class="py-1">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item fs-6">
            <a class="text-decoration-none" href="{% url "table-index" %}"><small>Home</small></a>
          </li>
          <li class="breadcrumb-item fs-6"><a class="text-decoration-none" href="#"><small>users</small></a>
          </li>
          <li class="breadcrumb-item fs-6 active" aria-current="page"><small>{{ userprofile.username }}</small></li>
        </ol>
      </nav>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container py-4">
    <div class="row">
      <!-- user avatar -->
      <div class="col-12 col-md-5 col-lg-4 col-xl-3">

        <div class="card shadow border-0 mb-4">
          <img src="{{ userprofile.avatar_url }}" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ userprofile.username }}</h5>

            <form method="post" enctype="multipart/form-data" action="{% url "upload-avatar" %}">
              {% csrf_token %}
              <div class="mb-3">
                {{ form.avatar.label_tag }}
                {{ form.avatar }}
              </div>
              {% if form.avatar.errors %}
                {% for error in form.avatar.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
              {% endif %}
              <button type="submit" class="btn btn-primary">Carica</button>
            </form>

          </div>
        </div>
      </div>

      <!-- user data -->
      <div class="col-12 col-md-7 col-lg-8 col-xl-9">
        <div class="row">
          <div class="col">
            <h1>{{ userprofile.username }}</h1>
            <p>Indirizzo: {{ userprofile.address }}</p>
            <p>Città: {{ userprofile.city }}</p>
            <p>Stato: {{ userprofile.state.name }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2>{% trans "Joined tables" %}</h2>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 g-4">
          {% for table in tables %}
            {% table_list_item table %}
          {% empty %}
            <p>{% trans "No tables found." %}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
