{% extends "base_webapp.html" %}
{% load custom_tags %}
{% load static %}
{% load i18n %}

{% block style %}
  <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
  <style>
      .swiper {
      }

      .swiper-wrapper {
      }

      .swiper-slide {
          padding: 0 15px;
          margin-bottom: 30px;
      }

      .swiper-scrollbar {
          margin-top: 15px;
      }
  </style>
{% endblock %}

{% block breadcrumbs %}
  <div class="container-fluid px-0 bg-white border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb" class="py-1">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item fs-6">
            <a class="text-decoration-none" href="{% url "home" %}"><small>Home</small></a>
          </li>
          <li class="breadcrumb-item fs-6 active" aria-current="page"><small>{{ userprofile.nickname }}</small></li>
        </ol>
      </nav>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container py-4">
    <div class="row">
      <!-- user avatar -->
      <div class="col-12 col-md-5 col-lg-4 col-xl-3">
        {% include 'profiles/_avatar.html' %}
      </div>

      <!-- user data -->
      <div class="col-12 col-md-7 col-lg-8 col-xl-9">
        {% for game in games_played %}
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col d-flex align-items-center">
                  <img class="img-thumbnail object-fit-cover object-position-center" style="height: 75px; width: 75px;"
                       src="{{ game.cover_url }}"
                       alt="{{ game.name }} logo">
                  <div class="ms-3">
                    <div class="h5 mb-1">{{ game.name }}</div>
                    <div class="">
                      <small><i
                          class="bi bi-lightning-charge-fill"></i> {{ game.play_count|default:0 }} {% trans "tables" %}
                      </small>
                      {% if game.win_count > 0 %}
                        <small class="ms-2"><i
                            class="bi bi-trophy-fill"></i> {{ game.win_count|default:0 }} {% trans "victories" %}
                        </small>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% empty %}
          <li>Nessun gioco giocato</li>
        {% endfor %}
      </div>

      {#      <div class="col-12 col-md-7 col-lg-8 col-xl-9">#}
      {#        <div class="row">#}
      {#          <div class="col">#}
      {#            <h2>{% trans "Latest tables" %}</h2>#}
      {#          </div>#}
      {#        </div>#}
      {#        <div class="row">#}
      {#          <div class="col">#}
      {#            {% if userprofile.is_email_verified %}#}
      {#              <div class="swiper">#}
      {#                <div class="swiper-wrapper">#}
      {#                  {% for table in tables %}#}
      {#                    <div class="swiper-slide">#}
      {#                      {% table_list_item table %}#}
      {#                    </div>#}
      {#                  {% empty %}#}
      {#                    <p>{% trans "No tables found." %}</p>#}
      {#                  {% endfor %}#}
      {#                </div>#}
      {##}
      {#                <!-- If we need scrollbar -->#}
      {#                <div class="swiper-scrollbar"></div>#}
      {#              </div>#}
      {#            {% elif not userprofile.is_email_verified and userprofile == user.user_profile %}#}
      {#              <p>#}
      {#                <i class="bi bi-exclamation-circle"></i>#}
      {#                {% trans "Your email is not verified. Verify your email to join tables." %}#}
      {#                <a href="{% url "send_email_verification_code" %}"#}
      {#                   class="link-offset-3 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover">#}
      {#                  {% trans "CLICK HERE" %}#}
      {#                </a>#}
      {#                {% trans "to receive a new verification email." %}#}
      {#              </p>#}
      {#            {% endif %}#}
      {#          </div>#}
      {#        </div>#}
      {#      </div>#}

    </div>
  </div>
{% endblock %}

{% block extrabodyjs %}
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>
      const swiper = new Swiper('.swiper', {
          // Optional parameters
          loop: false,
          mousewheel: true,
          freeMode: {
              enabled: true,
          },
          scrollbar: {
              el: '.swiper-scrollbar',
          },
          slidesPerView: 1,
          breakpoints: {
              '992': {
                  slidesPerView: 2,
              },
              '1200': {
                  slidesPerView: 3,
              }
          },
      });
  </script>
{% endblock %}
