<footer class="footer mt-auto py-4 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 pb-1">
        <span>&copy; Board Gamers {% now "Y" %} - All rights reserved.</span>
      </div>
      <div class="col-12 col-md-6 text-md-end pb-1">
        <a class="text-white ms-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover" href="#">About</a>
        <a class="text-white ms-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover" href="#">Terms</a>
        <a class="text-white ms-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover" href="#">Privacy</a>
      </div>
    </div>
  </div>
</footer>
