<footer class="footer mt-auto py-4 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 pb-1">
        <span>&copy; Board Gamers {% now "Y" %} - All rights reserved.</span>
      </div>
      <div class="col-12 col-md-6 text-md-end pb-1">
        <a href="{% url 'privacy' %}" class="px-2 small text-light">Privacy Policy</a>
        <a href="{% url 'terms' %}" class="px-2 small text-light">Cookie Policy</a>
{#        <a href="#" class="iubenda-cs-preferences-link px-2 small text-light">Aggiorna preferenze privacy</a>#}
        <a href="{% url 'contacts' %}" class="px-2 small text-light">Contacts</a>
      </div>
    </div>
  </div>
</footer>
