<footer class="footer mt-auto py-4 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 pb-1">
        <span>&copy; Board Gamers {% now "Y" %} - All rights reserved.</span>
      </div>
      <div class="col-12 col-md-6 text-md-end pb-1">
        <!-- IUBENDA -->
        <a href="{% url 'privacy' %}" class="px-2 small text-light" title="Privacy Policy ">Privacy Policy</a>
        <a href="{% url 'terms' %}" class="px-2 small text-light" title="Cookie Policy ">Cookie Policy</a>
      </div>
    </div>
  </div>
</footer>
