<style>
    .select2.select2-container {
        width: 100% !important;
        min-width: 100% !important;
    }

    .select2-selection {
        border-color: #dee2e6 !important;
    }

    .select2-selection--single {
        border: 1px solid #dee2e6 !important;
    }

    .select2-dropdown--below {
        border-color: #dee2e6 !important;
    }

    .select2-selection__arrow {
        min-height: 60px !important;
    }

    .select2-selection__rendered {
        min-height: 60px !important;
        line-height: 60px !important;
        padding-left: 12px !important;
    }

    .select2-selection {
        min-height: 60px !important;
    }

    .select2-container + label {
        color: rgba(var(--bs-body-color-rgb), .65);
        transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
    }

    .select2-selection__placeholder {
        color: #212529 !important;
        line-height: 50px;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
    {#background-color: transparent !important;#}{#border-color: transparent !important;#} line-height: 25px;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
        line-height: 25px;
    }
    
    /* CUSTOM SWITCH */
    .custom-switch .form-check-input {
        width: 3rem; /* Larghezza dello switch */
        height: 1.5rem; /* Altezza dello switch */
        margin-left: -2.25rem;
    }

    .custom-switch .form-check-input:checked + .form-check-label::before {
        background-color: #0d6efd; /* Colore di sfondo quando è selezionato */
        border-color: #0d6efd; /* Colore del bordo quando è selezionato */
    }

    .custom-switch .form-check-input::before {
        height: 1.5rem; /* Altezza dell'indicatore dello switch */
        width: 3rem; /* Larghezza dell'indicatore dello switch */
        border-radius: 1rem; /* Raggio del bordo per rendere gli angoli arrotondati */
    }

    .custom-switch .form-check-input::after {
        width: 1.25rem; /* Larghezza dell'interruttore interno */
        height: 1.25rem; /* Altezza dell'interruttore interno */
        border-radius: 50%; /* Rende l'interruttore interno circolare */
    }

    .custom-switch label {
        width: 90%;
        padding-left: 15px;
    }
</style>
