{% load i18n %}

<nav class="navbar navbar-expand-lg sticky-top bg-white border-bottom border-body" data-bs-theme="light">
  <div class="container">
    <a class="navbar-brand" href="{% url "home" %}"><i class="bi bi-lightning-charge"></i> Board Gamers</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-none d-lg-flex">
          <li class="nav-item ms-1">
            <a class="nav-link btn btn-light" href="{% url 'table-create' %}">
              <i class="bi bi-lightning-charge"></i> {% trans "New table" %}
            </a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link btn btn-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                {{ user.username }} <i class="bi bi-person-circle"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url "account-index" %}">{% trans "Account" %}</a></li>
                <li><a class="dropdown-item" href="#">{% trans "Tables" %}</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <form class="dropdown-item" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn text-decoration-none p-0" type="submit">
                      Logout
                    </button>
                  </form>
                </li>
              </ul>
            </li>
          {% else %}
            <li class="nav-item ms-1">
              <a class="nav-link btn btn-light" href="{% url "signup" %}">Register</a>
            </li>
            <li class="nav-item ms-1">
              <a class="btn btn-primary" href="{% url "login" %}">Login</a>
            </li>
          {% endif %}
        </ul>
        <div class="d-lg-none">
          <div class="container">
            <div class="row">

              <a href="{% url "table-create" %}" class="text-decoration-none col-12 mb-4">
                <div class="card shadow border-0">
                  <div class="card-header d-flex justify-content-between align-items-center"
                       style="background-color: darkseagreen"
                  ></div>
                  <div class="card-body">
                    <i class="h1 bi bi-lightning-charge-fill"></i>
                    <small class="d-flex mt-4"><strong>{% trans "New table" %}</strong></small>
                  </div>
                </div>
              </a>

              <a href="{% url "account-index" %}" class="text-decoration-none col-12 mb-4">
                <div class="card shadow border-0">
                  <div class="card-header d-flex justify-content-between align-items-center"
                       style="background-color: darkseagreen"
                  ></div>
                  <div class="card-body">
                    <i class="h1 bi bi-person-circle"></i>
                    <small class="d-flex mt-4"><strong>{% trans "Account" %}</strong></small>
                  </div>
                </div>
              </a>


              <div class="text-decoration-none col-12 mb-4">
                <div class="card shadow border-0">
                  <div class="card-body">
                    <form class="dropdown-item" action="{% url 'logout' %}" method="post">
                      {% csrf_token %}
                      <button class="btn text-decoration-none p-0" type="submit">
                        Logout
                      </button>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
