{% load i18n %}

<style>
    @keyframes blink {
        0% { opacity: 0; }
        50% { opacity: 1; }
        100% { opacity: 0; }
    }
</style>


<nav class="navbar navbar-expand-lg sticky-top bg-white border-bottom border-body" data-bs-theme="light">
  <div class="container">
    <a class="navbar-brand" href="{% url "home" %}"><i class="bi bi-lightning-charge"></i> Board Gamers</a>

    <div class="d-flex">
      <ul class="navbar-nav mx-2 d-lg-none">
        <li class="nav-item">
          <a class="btn btn-light" href="#" role="button">
            <i class="bi bi-bell"></i>
{#            <i class="bi bi-bell-fill"></i>#}
{#            <span style="padding: 0.25rem; animation: blink 2s infinite;" class="position-absolute translate-middle bg-danger border border-light rounded-circle">#}
{#              <span class="visually-hidden">New alerts</span>#}
{#            </span>#}
          </a>
        </li>
      </ul>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
              aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        {% if user.is_authenticated %}
          <i class="bi bi-person-circle"></i>
        {% else %}
          <span class="navbar-toggler-icon"></span>
        {% endif %}
      </button>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <span class="navbar-brand offcanvas-title" id="offcanvasNavbarLabel">
          <i class="bi bi-lightning-charge"></i>
          Board Gamers
        </span>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-none d-lg-flex">
          <li class="nav-item ms-1">
            <a class="nav-link btn btn-light" href="#">
              <i class="bi bi-lightning-charge"></i> {% trans "New table" %}
            </a>
          </li>
          {% if user.is_authenticated %}

            <li class="nav-item">
              <a class="nav-link btn btn-light" href="#" role="button">
                <i class="bi bi-bell mx-1"></i>
{#                <i class="bi bi-bell-fill mx-1"></i>#}
{#                <span style="padding: 0.25rem; animation: blink 2s infinite;" class="position-absolute translate-middle bg-danger border border-light rounded-circle">#}
{#                  <span class="visually-hidden">New alerts</span>#}
{#                </span>#}
              </a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link btn btn-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                <i class="bi bi-person-circle"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url "account-index" %}">{% trans "Account" %}</a></li>
                <li><a class="dropdown-item" href="{% url "account-tables" %}">{% trans "Tables" %}</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <form class="dropdown-item" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn text-decoration-none p-0" type="submit">
                      Logout
                    </button>
                  </form>
                </li>
              </ul>
            </li>
          {% else %}
            <li class="nav-item ms-1">
              <a class="nav-link btn btn-light" href="{% url "signup" %}">{% trans "Signup" %}</a>
            </li>
            <li class="nav-item ms-1">
              <a class="btn btn-primary" href="{% url "login" %}">Login</a>
            </li>
          {% endif %}
        </ul>
        <div class="d-lg-none">
          <div class="container">
            <div class="row flex-column justify-content-between" style="min-height: 70vh">

              {% if user.is_authenticated %}

                <div style="padding-left: 0; padding-right: 0">
                  <a href="#"
                     class="btn btn-lg btn-primary mb-4 py-4 d-flex justify-content-between">
                    {% trans "New table" %}
                    <i class="bi bi-arrow-right-circle-fill"></i>
                  </a>

                  <a href="{% url "account-index" %}"
                     class="btn btn-lg btn-light mb-4 py-4 d-flex justify-content-between">
                    {% trans "Account" %}
                    <i class="bi bi-arrow-right-circle"></i>
                  </a>

                  <a href="{% url "account-tables" %}"
                     class="btn btn-lg btn-light mb-4 py-4 d-flex justify-content-between">
                    {% trans "Tables" %}
                    <i class="bi bi-arrow-right-circle"></i>
                  </a>
                </div>

                <form action="{% url 'logout' %}" method="post" style="padding-left: 0; padding-right: 0">
                  {% csrf_token %}
                  <button class="btn btn-lg btn-dark mb-4 py-4 w-100 d-flex justify-content-between" type="submit">
                    <span>Logout</span>
                    <i class="bi bi-x-circle-fill"></i>
                  </button>
                </form>

              {% else %}

                <div style="padding-left: 0; padding-right: 0">
                  <a href="{% url "login" %}" class="btn btn-lg btn-primary mb-4 py-4 d-flex justify-content-between">
                    {% trans "Login" %}
                    <i class="bi bi-arrow-right-circle-fill"></i>
                  </a>

                  <a href="{% url "signup" %}" class="btn btn-lg btn-light mb-4 py-4 d-flex justify-content-between">
                    {% trans "Register" %}
                    <i class="bi bi-arrow-right-circle"></i>
                  </a>
                </div>

              {% endif %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
