{% load i18n %}

<style>
  nav.navbar {
      {#box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);#}
  }
</style>

<nav class="navbar navbar-expand-lg sticky-top bg-white border-bottom border-body" data-bs-theme="light">
  <div class="container">
    <a class="navbar-brand" href="{% url "home" %}"><i class="bi bi-lightning-charge"></i> Board Gamers</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item ms-1">
          <a class="nav-link btn btn-light" href="{% url 'table-create' %}">
            <i class="bi bi-lightning-charge"></i> {% trans "New table" %}
          </a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link btn btn-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              {{ user.username }} <i class="bi bi-person-circle"></i>
            </a>
            <ul class="dropdown-menu text-center text-lg-start dropdown-menu-md-end">
              <li><a class="dropdown-item" href="{% url "user-profile-detail" user.user_profile %}">{% trans "Profile" %}</a></li>
              <li><a class="dropdown-item" href="#">{% trans "Settings" %}</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <form class="dropdown-item" action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button class="btn text-decoration-none p-0" type="submit">
                    Logout
                  </button>
                </form>
              </li>
            </ul>
          </li>
        {% else %}
          <li class="nav-item ms-1">
            <a class="nav-link btn btn-light" href="{% url "signup" %}">Register</a>
          </li>
          <li class="nav-item ms-1">
            <a class="btn btn-primary" href="{% url "login" %}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
