ENV=local
DEBUG=True
DJANGO_SETTINGS_MODULE=boardGames.local_settings
DJANGO_SECRET_KEY=your-weird-local-dummy-secret
MAPS_API_KEY=xxxxxxxxxx
AWS_S3_ACCESS_KEY_ID=xxxxxxxxxx
AWS_S3_SECRET_ACCESS_KEY=xxxxxxxxxx
AWS_SES_ACCESS_KEY_ID=xxxxxxxxxx
AWS_SES_SECRET_ACCESS_KEY=xxxxxxxxxx
RECAPTCHA_PUBLIC_KEY=xxxxxxxxxx
RECAPTCHA_PRIVATE_KEY=xxxxxxxxxx
