aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
asgiref==3.9.1
attrs==25.1.0
boto3==1.42.48
botocore==1.42.48
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.1
cryptography==46.0.5
defusedxml==0.7.1
dj-database-url==2.1.0
Django==6.0.2
django-autocomplete-light==3.12.1
django-cors-headers==4.9.0
django-debug-toolbar==6.2.0
django-environ==0.12.0
django-filter==25.2
django-meta==2.5.0
django-model-utils==5.0.0
django-recaptcha==4.1.0
django-ses==4.4.0
django-storages==1.14.6
djangorestframework==3.16.1
factory_boy==3.3.3
Faker==40.4.0
frozenlist==1.8.0
geoip2==5.0.1
gunicorn==25.0.3
idna==3.10
jmespath==1.0.1
maxminddb==2.6.3
mistune==3.2.0
multidict==6.7.1
nh3==0.3.3
oauthlib==3.3.1
packaging==24.2
pillow==12.1.1
propcache==0.4.1
psycopg2==2.9.11
pycparser==2.22
PyJWT==2.11.0
python-dateutil==2.9.0.post0
python-environ==0.4.54
python3-openid==3.2.0
requests==2.32.5
requests-oauthlib==2.0.0
s3transfer==0.16.0
sentry-sdk==2.52.0
six==1.17.0
social-auth-app-django==5.7.0
social-auth-core==4.8.5
sqlparse==0.5.3
typing_extensions==4.12.2
urllib3==2.6.3
whitenoise==6.11.0
yarl==1.22.0
