{% extends "base_webapp.html" %}
{% load static %}
{% load i18n %}

{% block content %}
  <style>
      .g-sign-in-button {
          text-decoration: none;
          display: inline-block;
          width: 100%;
          height: 50px;
          background-color: #4285f4;
          color: #fff;
      }

      .g-sign-in-button:hover {
          cursor: pointer;
          -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
          box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
      }

      .g-sign-in-button:active {
          background-color: #3367D6;
          transition: background-color 0.2s;
      }

      .g-sign-in-button .content-wrapper {
          height: 100%;
          width: 100%;
          border: 1px solid transparent;
          display: flex;
      }

      .g-sign-in-button img {
          width: 18px;
          height: 18px;
      }

      .g-sign-in-button .logo-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #fff;
          width: 48px;
          height: 100%;
      }

      .g-sign-in-button .logo-wrapper img {
          vertical-align: top;
      }

      .g-sign-in-button .text-container {
          letter-spacing: .21px;
          display: flex;
          align-items: center;
          padding-left: 15px;
      }
  </style>

  <div class="container py-4">
    <div class="row">
      <div class="col col-md-10 mx-auto col-lg-6 offset-md-1 offset-lg-3">
        {% if form.non_field_errors %}
          <div class='px-4 px-md-5'>
            {% for error in form.non_field_errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}

        {% if next %}
          <div class='px-4 px-md-5'>
            {% if user.is_authenticated %}
              <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            {% else %}
              <p>Please login to see this page.</p>
            {% endif %}
          </div>
        {% endif %}

        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary shadow" method="post"
              action="{% url 'login' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">
          {% csrf_token %}
          <h1 class="fs-3 mb-4">Login</h1>
          <div class="form-floating mb-3">
            {{ form.username }}
            {{ form.username.label_tag|cut:":" }}
          </div>
          <div class="form-floating mb-3">
            {{ form.password }}
            {{ form.password.label_tag|cut:":" }}
          </div>
          <input class="btn btn-primary btn-lg w-100" type="submit" value="Login">
          <input type="hidden" name="next" value="{{ next }}">

          <span class="small d-block w-100 text-center mt-2">{% trans 'Or' %}</span>

          <a href="{% url "social:begin" "google-oauth2" %}" class='g-sign-in-button mt-2'>
            <div class=content-wrapper>
              <div class='logo-wrapper'>
                {#                  <img src='https://developers.google.com/identity/images/g-logo.png'>#}
                <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                  <g fill="none" fill-rule="evenodd">
                    <path d="M17.6 9.2l-.1-1.8H9v3.4h4.8c-.2 1-.8 1.8-1.8 2.8v2.2h3a8.8 8.8 0 0 0 2.6-6.6z" fill="#4285F4" fill-rule="nonzero"/>
                    <path d="M9 18c2.4 0 4.5-.8 6-2.2l-3-2.2a5.4 5.4 0 0 1-8-2.9H1V13a9 9 0 0 0 8 5z" fill="#34A853" fill-rule="nonzero"/>
                    <path d="M4 10.7a5.4 5.4 0 0 1 0-3.4V5H1a9 9 0 0 0 0 8l3-2.3z" fill="#FBBC05" fill-rule="nonzero"/>
                    <path d="M9 3.6c1.3 0 2.5.4 3.4 1.3L15 2.3A9 9 0 0 0 1 5l3 2.4a5.4 5.4 0 0 1 5-3.7z" fill="#EA4335" fill-rule="nonzero"/>
                    <path d="M0 0h18v18H0z"/>
                  </g>
                </svg>
              </div>
              <span class='text-container'>
                  <span>{% trans 'Sign in with Google' %}</span>
                </span>
            </div>
          </a>

          <hr class="my-4">
          <small class="text-body-secondary d-block mb-3">
            {% trans "Forgot your password?" %}
            <a class="link-offset-3" href="{% url 'custom_password_reset' %}">{% trans "Reset password" %}</a>.
          </small>
          <small class="text-body-secondary">
            {% trans "Not a member?" %}
            <a class="link-offset-3" href="{% url "signup" %}">{% trans "Create an account" %}</a>.
          </small>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
