{% extends "base_webapp.html" %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="container py-4">
    <div class="row">
      <div class="col col-md-10 mx-auto col-lg-6 offset-md-1 offset-lg-3">
        {% if form.non_field_errors %}
          <div class='px-4 px-md-5'>
            {% for error in form.non_field_errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}

        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary shadow" method="post">
          {% csrf_token %}
          <h1 class="fs-3 mb-4">{% trans "Reset password" %}</h1>
          <div class="form-floating mb-3">
            {{ form.email }}
            {{ form.email.label_tag|cut:":" }}
          </div>
          <button class="btn btn-primary btn-lg w-100" type="submit">
            {% trans "Send me reset instructions" %}
          </button>
          <hr class="my-4">
          <small class="text-body-secondary d-block mb-3">
            {% trans "Back to" %}
            <a class="link-offset-3" href="{% url 'login' %}">{% trans "Login" %}</a>.
          </small>
          <small class="text-body-secondary">
            {% trans "Not a member?" %}
            <a class="link-offset-3" href="{% url "signup" %}">{% trans "Create an account" %}</a>.
          </small>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
