{% extends "base_webapp.html" %}
{% load static %}
{% load i18n %}

{% block style %}
  {% include 'partials/form_styles.html' %}
{% endblock style %}

{% block content %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
          integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  {{ form.media }}

  <div class="container py-4">
    <div class="row">
      <div class="col col-lg-6">
        <form method="post" class="p-4 p-md-5 border rounded-3 bg-body-tertiary shadow">
          {% csrf_token %}

          {{ form.city }}
          {{ form.latitude }}
          {{ form.longitude }}

          <h1 class="fs-3 mb-4">{% trans "Signup" %}</h1>
          <small class="d-block pb-2 text-secondary">
            {% trans "Insert email and password. You will use them to login." %}
          </small>
          <div class="form-floating mb-3">
            {{ form.email }}
            {{ form.email.label_tag|cut:":" }}
            {% if form.email.errors %}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="form-floating mb-3">
            {{ form.password1 }}
            {{ form.password1.label_tag|cut:":" }}
            {% if form.password1.errors %}
              <div class="invalid-feedback">
                {% for error in form.password1.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="form-floating mb-3">
            {{ form.password2 }}
            {{ form.password2.label_tag|cut:":" }}
            {% if form.password2.errors %}
              <div class="invalid-feedback">
                {% for error in form.password2.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <small
              class="d-block pt-3 pb-2 text-secondary">{% trans "Insert your Nickname. Other gamers will call you this way." %}</small>
          <div class="form-floating mb-3">
            {{ form.nickname }}
            {{ form.nickname.label_tag|cut:":" }}
            {% if form.nickname.errors %}
              <div class="invalid-feedback">
                {% for error in form.nickname.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <small
              class="d-block pt-3 pb-2 text-secondary">{% trans "Insert your Address. We will use it to show near tables." %}</small>
          <div class="form-floating mb-3">
            {{ form.address }}
            {{ form.address.label_tag|cut:":" }}
            {% if form.address.errors %}
              <div class="invalid-feedback">
                {% for error in form.address.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="mb-3">
            {{ form.captcha.errors }}
            {{ form.captcha }}
          </div>

          <button type="submit" class="btn btn-primary btn-lg w-100">{% trans "Signup" %}</button>
        </form>
      </div>
      <div class="col-12 col-lg-6">
        <div class="map border shadow rounded-3" id="gmp-map" style="width: 100%; height: 100%;"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrabodyjs %}
  {% include "partials/google-maps-form.html" %}
{% endblock %}
