{% extends "base_webapp.html" %}
{% load custom_tags %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="container py-4">
    <div class="row">
      <div class="col">
        <p>{{ DJANGO_SETTINGS_MODULE }}</p>
        <p>{{ AWS_S3_CUSTOM_DOMAIN }}</p>
        <p>user_ip: {{ user_ip }}</p>
        <p>user_point: {{ user_point }}</p>
        <p>La città è: {{ city }}</p>
        <ul>
          {% for t in tables %}
            <li>
              <p>{{ t.slug }}</p>
              <p>{{ t.location.point }}</p>
              <p>{{ table.distance_from_user }} metri</p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
