{% extends "base_webapp.html" %}
{% load custom_tags %}
{% load static %}
{% load i18n %}

{% block content %}
  {% include "partials/hero.html" %}

  <div style="background-color: #FAEBD7;">
    <div class="container mt-4">
      <p class="h1">{% trans "Upcoming tables" %}</p>
      <p class="mb-0">{% trans "Accept the challenge, join a table!" %}</p>
    </div>
    <div class="container py-4">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4 g-4">
        {% for table in future_tables %}
          {% table_list_item table %}
        {% empty %}
          <p>{% trans "No upcoming tables found." %}</p>
        {% endfor %}
      </div>
    </div>
  </div>

  <div style="background-color: #FAEBD7;">
    <div class="container mt-4">
      <p class="h1">{% trans "Past tables" %}</p>
    </div>
    <div class="container py-4">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4 g-4">
        {% for table in past_tables %}
          {% table_list_item table %}
        {% empty %}
          <p>{% trans "No past tables found." %}</p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
