{% extends "base_webapp.html" %}
{% load custom_tags %}
{% load static %}
{% load i18n %}

{% block style %}
  <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
  <style>
      .swiper {
          max-width: 100vw;
      }

      .swiper-wrapper {
          padding-bottom: 30px;
      }

      .swiper-slide {
          flex-shrink: 0;
          width: auto;
          max-width: 260px;
      }
  </style>
{% endblock style %}


{% block content %}

  {% if user.is_authenticated %}
    <div class="container mt-4" id="alert-container" style="display: none;">
      <div id="custom-alert" class="alert alert-light alert-dismissible fade show" role="alert">
        <strong>Hey tu!</strong> 🫵
        <span>Te ne intendi di codice e vuoi contribuire al progetto Board-Gamers?</span>
        <a target="_blank" href="mailto:davideghz@lemaildigoogle.com?subject=Board-Gamers">Scrivici</a> 😇
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const alertContainer = document.getElementById("alert-container");
            const alertBox = document.getElementById("custom-alert");

            function isHiddenForThreeDays() {
                const lastClosed = localStorage.getItem("alertClosedTimestamp");
                if (!lastClosed) return false; // Nessun dato salvato, mostra il messaggio
                const now = Date.now();
                return (now - parseInt(lastClosed, 10)) < (24 * 60 * 60 * 1000);
            }

            if (!isHiddenForThreeDays()) {
                alertContainer.style.display = "block"; // Mostra l'intero container
            }

            alertBox.addEventListener("closed.bs.alert", function () {
                localStorage.setItem("alertClosedTimestamp", Date.now().toString());
                alertContainer.style.display = "none"; // Nasconde tutto il container
            });
        });
    </script>
  {% endif %}

  {% include "partials/hero.html" %}

  <div style="background-color: #FAEBD7;">
    <div class="container mt-4">
      <p class="h1">{% trans "Upcoming tables" %}</p>
      <p class="mb-0">{% trans "Accept the challenge, join a table!" %}</p>
    </div>
    <div class="container mt-4">
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for table in future_tables %}
            {% swiper_table_slide table %}
          {% empty %}
            <p>{% trans "No tables found." %}</p>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>

  <div style="background-color: #FAEBD7;">
    <div class="container mt-4">
      <p class="h1">{% trans "Past tables" %}</p>
      <p class="mb-0">{% trans "Legends were made at these tables. Will you be next?" %}</p>
    </div>
    <div class="container mt-4">
        <div class="swiper">
          <div class="swiper-wrapper">
            {% for table in past_tables %}
              {% swiper_table_slide table %}
            {% empty %}
              <p>{% trans "No tables found." %}</p>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}

{% block extrabodyjs %}
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>
      const swiper = new Swiper('.swiper', {
          // Optional parameters
          loop: false,
          mousewheel: false,
          freeMode: {
              enabled: true,
          },
          centeredSlides: false,
          spaceBetween: 15,
          watchOverflow: true,
          slidesPerView: 'auto',
      });
  </script>
{% endblock %}
