{% extends "base_webapp.html" %}
{% load i18n %}

{% block content %}
  <div class="container py-4">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <h1>{% trans "Select Language" %}</h1>
        <p>{% trans "Select your language" %}</p>

        {% for lang in languages %}
          <form action="{% url 'set_language' %}" method="post" class="mb-3">
            {% csrf_token %}
            <input type="hidden" name="language" value="{{ lang.code }}">
            <input type="hidden" name="next" value="{{ lang.next }}">
            <button class="btn btn-lg btn-light py-4 d-flex justify-content-between w-100">
              {{ lang.name }}
            </button>
          </form>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
