{% extends "base_webapp.html" %}
{% load custom_tags %}
{% load static %}
{% load i18n %}

{% block headtitle %}{{ location.name }} - Board-Gamers.com{% endblock headtitle %}
{% block description %}{% trans "Join us at" %} {{ location.name }}
  {% trans "and experience the thrill of challenging your friends with the best board games. We’re waiting for you at:" %}
  {{ location.address }}{% endblock description %}

{% block style %}
  <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
  <style>
      .swiper {
      }

      .swiper-wrapper {
      }

      .swiper-slide {
          padding: 10px 14px 20px 12px;
          flex-shrink: 0;
          width: 280px;
          max-width: 280px;
      }
  </style>
{% endblock %}


{% block breadcrumbs %}
  <div class="container-fluid px-0 bg-white border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb" class="py-1">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item fs-6"><a class="text-decoration-none"
                                              href="{% url "home" %}"><small>Home</small></a>
          </li>
          <li class="breadcrumb-item fs-6 active" aria-current="page"><small>{{ location.name }}</small></li>
        </ol>
      </nav>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container-fluid" style="background-color: slategrey; height: 180px">
    <div class="container d-flex mt-4" style="">
      <h1 class="h2 text-light m-0">
        <img class="img-thumbnail border-0 object-fit-cover object-position-center"
             style="width: 80px; height: 80px; padding: 0.20rem" src="{{ location.cover_url }}"
             alt="{{ location.name }} logo">
        {{ location.name }}
      </h1>
    </div>
  </div>
  <div class="container" style="position: relative; top: -50px">
    <div class="row">
      <div class="col">
        <div class="container">
          <div class="row bg-white shadow rounded-4">
            <div class="col-6 col-sm-4 col-md-4 col-lg-3">
              <div class="d-flex align-items-center bg-body-tertiary rounded mt-3 mb-3 px-3 py-2">
                <i class="bi bi-lightning-charge fs-1 ms-3"></i>
                <div class="d-flex flex-column align-items-start ms-2">
                  <span class="h3 m-0">{{ tables_count }}</span>
                  <small>{% trans 'tables' %}</small>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-3">
              <div class="d-flex align-items-center bg-body-tertiary rounded mt-3 mb-3 px-3 py-2">
                <i class="bi bi-people-fill fs-1 ms-3"></i>
                <div class="d-flex flex-column align-items-start ms-2">
                  <span class="h3 m-0">{{ total_gamers_count }}</span>
                  <small>{% trans 'gamers' %}</small>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-3">
              <div class="d-flex align-items-center bg-body-tertiary rounded mt-0 mt-sm-3 mb-3 px-3 py-2">
                <i class="bi bi-trophy-fill fs-1 ms-3"></i>
                <div class="d-flex flex-column align-items-start ms-2">
                  <a href="#stats" class="h3 m-0">Stats</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3 d-flex align-items-center mb-3 mb-lg-0">
              <a class="w-100 btn btn-lg btn-primary" href="{% url 'location-table-create' location.slug %}">
                <i class="bi bi-lightning-charge"></i> {% trans "Create table here" %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-sm mt-4">
    <h2>{% trans "Upcoming tables" %}</h2>
    <p class="mb-0">{% trans "Accept the challenge, join a table!" %}</p>
  </div>
  <div class="container-sm mt-4">
    <div class="row">
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for table in future_tables %}
            {% swiper_table_slide table %}
          {% empty %}
            <p style="padding-left: 12px">{% trans "No tables found." %}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="container-sm mt-4">
    <h2>{% trans "Past tables" %}</h2>
    <p class="mb-0">{% trans "Great games, greater memories. What’s your next move?" %}</p>
  </div>
  <div class="container-sm mt-4">
    <div class="row">
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for table in past_tables %}
            {% swiper_table_slide table %}
          {% empty %}
            <p style="padding-left: 12px">{% trans "No tables found." %}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <h2>{% trans "About" %}</h2>
    <p class="mb-0">{{ location.description }}</p>
  </div>
  <div class="container mt-4 mb-5" id="stats">
    <div class="row">
      <h3 class="h4 mt-4">{% trans "Most played games" %}</h3>
      <p>{% trans "For each game, the player with the most wins is shown." %}</p>
    </div>
    <div class="row">
      <div class="col-12 col-lg-10">
        <div class="row">
          {% for game in popular_games %}
            <div class="col-12 col-md-6 d-flex align-items-center">
              <img class="img-thumbnail object-fit-cover object-position-center" style="height: 75px; width: 75px;"
                   src="{{ game.cover_url }}"
                   alt="{{ game.name }} logo">
              <div class="ms-3">
                <div class="h5 mb-1">{{ game.name|truncatechars:22 }}</div>
                <div class="">
                  <small><i
                      class="bi bi-lightning-charge-fill"></i> {{ game.play_count|default:0 }} {% trans "tables" %}
                  </small>
                  {% if game.top_winner %}
                    <small class="ms-2"><i
                        class="bi bi-trophy-fill"></i> {{ game.top_winner }}
                    </small>
                  {% endif %}
                </div>
              </div>
            </div>
          {% empty %}
            <p>Nessun gioco giocato in questa location.</p>
          {% endfor %}
        </div>
      </div>
      <div class="col-12 mt-3">
        <a href="#" class="text-decoration-none">
          <small>
            <i class="bi bi-box-arrow-up-right"></i> {% trans "See all played games" %}
          </small>
        </a>
      </div>
    </div>
    <div class="row">
      <h3 class="h4 mt-4">{% trans "Gamers' stats" %}</h3>
    </div>
    <div class="row">
      <div class="table-responsive mt-3">
        <table class="table table-hover">
          <thead class="table-light">
          <tr>
            <th class="text-nowrap">{% trans "Gamer" %}</th>
            <th class="text-nowrap">{% trans "Tables" %}</th>
            <th class="text-nowrap">{% trans "1st place" %}</th>
            <th class="text-nowrap">{% trans "2nd place" %}</th>
            <th class="text-nowrap">{% trans "3rd place" %}</th>
          </tr>
          </thead>
          <tbody class="table-group-divider">
          {% for player in player_stats %}
            <tr>
              <td>
                <a href="{% url "user-profile-detail" player.slug %}" class="text-decoration-none">
                  {{ player.nickname|truncatechars:15 }}
                </a>
              </td>
              <td>{{ player.play_count }}</td>
              <td>{{ player.first_place }}</td>
              <td>{{ player.second_place }}</td>
              <td>{{ player.third_place }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="5">Nessun giocatore registrato in questa location.</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-3">
      <a href="#" class="text-decoration-none">
        <small>
          <i class="bi bi-box-arrow-up-right"></i> {% trans "See all gamers" %}
        </small>
      </a>
    </div>
  </div>

  <div class="container fixed-bottom bg-light p-3 border-top d-sm-none">
    <div class="row">
      <div class="col">
        <a class="w-100 btn btn-lg btn-primary" href="{% url 'location-table-create' location.slug %}">
          <i class="bi bi-lightning-charge"></i> {% trans "Create table here" %}
        </a>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extrabodyjs %}
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>
      const swiper = new Swiper('.swiper', {
          // Optional parameters
          loop: false,
          mousewheel: false,
          freeMode: {
              enabled: true,
          },
          centeredSlides: false,
          watchOverflow: true,
          slidesPerView: 'auto',
      });
  </script>
{% endblock %}
