{% extends "base_webapp.html" %}
{% load custom_tags %}
{% load static %}
{% load i18n %}

{% block style %}
  <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
  <style>
      .swiper {
      }

      .swiper-wrapper {
      }

      .swiper-slide {
          padding: 10px 14px 20px 12px;
          flex-shrink: 0;
          width: 280px;
          max-width: 280px;
      }
  </style>
{% endblock %}


{% block breadcrumbs %}
  <div class="container-fluid px-0 bg-white border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb" class="py-1">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item fs-6"><a class="text-decoration-none"
                                              href="{% url "home" %}"><small>Home</small></a>
          </li>
          <li class="breadcrumb-item fs-6 active" aria-current="page"><small>{{ location.name|truncatechars:40 }}</small></li>
        </ol>
      </nav>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container-fluid" style="background-color: slategrey; height: 180px">
    <div class="container mt-4 align-items-center">
      <div class="row">
        <div class="col-auto">
          <img class="img-thumbnail border-0 object-fit-cover object-position-center"
               style="width: 80px; height: 80px; padding: 0.20rem" src="{{ location.cover_url }}"
               alt="{{ location.name }} logo">
        </div>
        <div class="col align-self-center">
          <h1 class="h2 text-light">
            {{ location.name|truncatechars:50 }}
          </h1>
          {% if location.city %}
            <p class="mb-0 text-light"><a class="text-light" href="#info">{{ location.city }}</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="position: relative; top: -50px; margin-bottom: -50px">
    <div class="row">
      <div class="col">
        <div class="container">
          <div class="row bg-white shadow rounded-4">
            <div class="col-6 col-sm-4 col-md-4 col-lg-3">
              <div class="d-flex align-items-center bg-body-tertiary rounded mt-3 mb-3 px-3 py-2">
                <i class="bi bi-lightning-charge fs-1 ms-3"></i>
                <div class="d-flex flex-column align-items-start ms-2">
                  <span class="h3 m-0">{{ tables_count }}</span>
                  <small>{% trans 'tables' %}</small>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-3">
              <div class="d-flex align-items-center bg-body-tertiary rounded mt-3 mb-3 px-3 py-2">
                <i class="bi bi-people-fill fs-1 ms-3"></i>
                <div class="d-flex flex-column align-items-start ms-2">
                  <span class="h3 m-0">{{ total_gamers_count }}</span>
                  <small>{% trans 'gamers' %}</small>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-3">
              <div class="d-flex align-items-center bg-body-tertiary rounded mt-0 mt-sm-3 mb-3 px-3 py-2">
                <i class="bi bi-trophy-fill fs-1 ms-3"></i>
                <div class="d-flex flex-column align-items-start ms-2">
                  <a href="#stats" class="h3 m-0">Stats</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3 align-items-center mb-3 mb-lg-0 d-none d-sm-flex">
              <a class="w-100 btn btn-lg btn-primary" href="{% url 'location-table-create' location.slug %}">
                <i class="bi bi-lightning-charge"></i> {% trans "Create table here" %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if is_manager %}
  <div class="container-sm mt-4">
    <div class="row">
      <div class="col-md-4 col-lg-3">
        <a class="btn btn-lg btn-dark w-100" href="{% url 'location-manage' location.slug %}">
          <small><i class="bi bi-gear-fill"></i> {% trans 'Manage location' %}</small>
        </a>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="container-sm mt-4">
    <p>{% trans "Follow" %} {{ location.name }} {% trans "to be notified about new tables." %}</p>
    <form method="post" action="{% url 'follow-location' slug=location.slug %}">
      <div class="row align-items-center">
        {% csrf_token %}
        <div class="col-auto">
          <button type="submit" class="btn btn-lg btn-dark">
            {% if is_following %}
              <small><i class="bi bi-heartbreak-fill"></i> {% trans "Unfollow" %}</small>
            {% else %}
              <small><i class="bi bi-heart-fill"></i> {% trans "Follow" %}</small>
            {% endif %}
          </button>
        </div>
        <div class="col"><small><i class="bi bi-heart-fill"></i> {{ followers_count }} followers</small></div>
      </div>
    </form>
  </div>

  <div class="container-sm mt-4">
    <h2>{% trans "Upcoming tables" %}</h2>
    <p class="mb-0">{% trans "Accept the challenge, join a table!" %}</p>
  </div>
  <div class="container-sm mt-4">
    <div class="row">
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for table in future_tables %}
            {% swiper_table_slide table %}
          {% empty %}
            <p style="padding-left: 12px">{% trans "No tables found." %}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="container-sm mt-4">
    <h2>{% trans "Past tables" %}</h2>
    <p class="mb-0">{% trans "Great games, greater memories. What’s your next move?" %}</p>
  </div>
  <div class="container-sm mt-4">
    <div class="row">
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for table in past_tables %}
            {% swiper_table_slide table %}
          {% empty %}
            <p class="text-muted" style="padding-left: 12px">{% trans "No tables found." %}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4" id="info">
    <h2>{% trans "About" %}</h2>
    <div class="row mt-3">
      <div class="col-lg-6 mb-3">
        {# Location Map #}
        {% if location.address %}
          <div class="card shadow border-0">
            <div class="card-header bg-dark py-3">
              <div class="row gx-2 align-items-center">
                <div class="col-auto">
                  <span class="bi bi-geo-alt-fill text-light"></span>
                </div>
                <div class="col">
                  <p class="card-title mb-0">
                    <a class="text-decoration-none text-light" target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ location.address|urlencode }}">{{ location.address }}</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="card-body p-0">
              {% if location.latitude and location.longitude %}
                <div class="ratio ratio-16x9 rounded-bottom" id="gmp-map"></div>
                <script>
                  const CONFIGURATION = {
                    "mapOptions": {"center":{"lat":{{ location.latitude }}, "lng":{{ location.longitude }} }, "fullscreenControl":false,"mapTypeControl":false,"streetViewControl":false,"zoom":16,"zoomControl":true,"maxZoom":22}
                  };

                  async function initMap() {
                    const {Map} = google.maps;
                    const {AdvancedMarkerElement} = google.maps.marker;
                    const {Autocomplete} = google.maps.places;

                    const mapOptions = CONFIGURATION.mapOptions;
                    mapOptions.mapId = mapOptions.mapId || 'DEMO_MAP_ID';
                    mapOptions.center = mapOptions.center || {lat: {{ location.latitude }}, lng: {{ location.longitude }}};

                    const map = new Map(document.getElementById('gmp-map'), mapOptions);
                    const marker = new google.maps.marker.AdvancedMarkerElement({ map });

                    const latLng = new google.maps.LatLng(parseFloat({{ location.latitude }}), parseFloat({{location.longitude}}));
                    marker.position = latLng;

                    map.setCenter(latLng);
                  }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-nP6SNj7I69cz67_5QyhwhmlzR5GiMl8&libraries=places,marker&callback=initMap&loading=async" async defer></script>
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
      <div class="col-lg-6">
        <h3 class="h4">{{ location.name }}</h3>
        <p class="mb-0">{{ location.description }}</p>
        {% if location.website %}
          <p class="mb-0">
            <i class="bi bi-globe"></i>
            <a class="text-decoration-none" href="{{ location.website }}" target="_blank" rel="noopener noreferrer">{{ location.website }}</a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="container mt-4 mb-5" id="stats">
    <div class="row">
      <h2 class="h2 mt-4">{% trans "Most played games" %}</h2>
      <p class="m-0">{% trans "For each game, the player with the most wins is shown. In case of a tie, all top players are displayed." %}</p>
    </div>
    <div class="row">
      <div class="col-12 col-lg-10">
        <div class="row">
          {% for game in popular_games %}
            <div class="col-12 col-md-6 d-flex align-items-center mt-3">
              <img class="img-thumbnail object-fit-cover object-position-center" style="height: 75px; width: 75px;"
                   src="{{ game.cover_url }}"
                   alt="{{ game.name }} logo">
              <div class="ms-3">
                <div class="h5 mb-1">{{ game.name|truncatechars:22 }}</div>
                <div class="">
                  <small><i
                      class="bi bi-lightning-charge-fill"></i> {{ game.play_count|default:0 }} {% trans "tables" %}
                  </small>
                  {% if game.top_winners %}
                    <small class="ms-2">
{#                      <i class="bi bi-trophy-fill"></i> {{ game.top_winner }}#}
                      <i class="bi bi-trophy-fill"></i> {{ game.top_winners|join:", " }}
                    </small>
                  {% endif %}
                </div>
              </div>
            </div>
          {% empty %}
            <p class="text-muted mt-3 mb-0">{% trans "No games played at this location." %}</p>
          {% endfor %}
        </div>
      </div>

      {% comment %} <div class="col-12 mt-3">
        <a href="#" class="text-decoration-none">
          <small>
            <i class="bi bi-box-arrow-up-right"></i> {% trans "See all played games" %}
          </small>
        </a>
      </div> {% endcomment %}
    </div>
    <div class="row">
      <h2 class="mt-5">{% trans "Gamers' stats" %}</h2>
    </div>
    <div class="row">
      <div class="table-responsive mt-3">
        <table class="table table-hover">
          <thead class="table-light">
          <tr>
            <th class="text-nowrap">{% trans "Gamer" %}</th>
            <th class="text-nowrap">{% trans "Tables" %}</th>
            <th class="text-nowrap">{% trans "1st place" %}</th>
            <th class="text-nowrap">{% trans "2nd place" %}</th>
            <th class="text-nowrap">{% trans "3rd place" %}</th>
          </tr>
          </thead>
          <tbody class="table-group-divider">
          {% for player in player_stats %}
            <tr>
              <td>
                <a href="{% url "user-profile-detail" player.slug %}" class="text-decoration-none">
                  {{ player.nickname|truncatechars:15 }}
                </a>
              </td>
              <td>{{ player.play_count }}</td>
              <td>{{ player.first_place }}</td>
              <td>{{ player.second_place }}</td>
              <td>{{ player.third_place }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="5">{% trans "No players registered for this location" %}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% comment %}
      <div class="row mt-3">
        <a href="#" class="text-decoration-none">
          <small>
            <i class="bi bi-box-arrow-up-right"></i> {% trans "See all gamers" %}
          </small>
        </a>
      </div>
    {% endcomment %}
  </div>

  <div class="container fixed-bottom bg-light p-3 border-top d-sm-none">
    <div class="row">
      <div class="col">
        <a class="w-100 btn btn-lg btn-primary" href="{% url 'location-table-create' location.slug %}">
          <i class="bi bi-lightning-charge"></i> {% trans "Create table here" %}
        </a>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extrabodyjs %}
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>
      const swiper = new Swiper('.swiper', {
          // Optional parameters
          loop: false,
          mousewheel: false,
          freeMode: {
              enabled: true,
          },
          centeredSlides: false,
          watchOverflow: true,
          slidesPerView: 'auto',
      });
  </script>
{% endblock %}
