{% extends "base_webapp.html" %}
{% load custom_tags %}
{% load static %}
{% load i18n %}

{% block style %}
{% endblock %}

{% block breadcrumbs %}
<div class="container-fluid px-0 bg-white border-bottom">
    <div class="container">
        <nav aria-label="breadcrumb" class="py-1">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item fs-6" aria-current="page">
                    <small><a class="text-decoration-none" href="{% url "location-detail" location.slug %}">
                            {{ location.name }}</a>
                    </small>
                </li>
                <li class="breadcrumb-item fs-6 active" aria-current="page">
                    <small><a class="text-decoration-none" href="{% url "location-manage" location.slug %}">
                            {% trans "Manage" %}</a>
                    </small>
                </li>
                <li class="breadcrumb-item fs-6 active" aria-current="page">
                    <small>{% trans "Information" %}</small>
                </li>
            </ol>
        </nav>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="h1">{% trans "Edit Location" %}</div>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}

                {{ form.city }}
                {{ form.latitude }}
                {{ form.longitude }}

                <div class="form-floating mb-3">
                    {{ form.name }}
                    {{ form.name.label_tag|cut:":" }}
                    {% if form.name.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="form-floating mb-3">
                    {{ form.description }}
                    {{ form.description.label_tag|cut:":" }}
                    {% if form.description.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form.cover.label_tag }}
                    {{ form.cover }}
                    {% if form.cover.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.cover.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="form-check form-switch mb-3">
                    {{ form.is_public }}
                    <label class="form-check-label" for="{{ form.is_public.id_for_label }}">
                        {{ form.is_public.label }}
                    </label>
                    {% if form.is_public.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.is_public.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="form-floating mb-3">
                    {{ form.address }}
                    {{ form.address.label_tag|cut:":" }}
                    {% if form.address.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.address.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="form-floating mb-3">
                    {{ form.website }}
                    {{ form.website.label_tag|cut:":" }}
                    {% if form.website.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.website.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="map border rounded-3 mb-3" id="gmp-map" style="width: 100%; height: 200px;"></div>

                <button type="submit" class="btn btn-primary">{% trans "Salva modifiche" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extrabodyjs %}
{% include "partials/google-maps-form.html" %}
{% endblock %}
