{% extends "base_webapp.html" %}
{% load custom_tags %}
{% load static %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="container-fluid px-0 bg-white border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb" class="py-1">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item fs-6">
            <a class="text-decoration-none" href="{% url "table-index" %}"><small>Home</small></a>
          </li>
          <li class="breadcrumb-item fs-6"><a class="text-decoration-none" href="#"><small>Games</small></a>
          </li>
          <li class="breadcrumb-item fs-6 active" aria-current="page"><small>{{ game.name }}</small></li>
        </ol>
      </nav>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container py-4">
    <div class="row">
      <!-- user avatar -->
      <div class="col-12 col-md-5 col-lg-4 col-xl-3">

        <div class="card shadow border-0 mb-4">
          <img src="https://picsum.photos/800/800" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ game.name }}</h5>
          </div>
        </div>
      </div>

      <!-- user data -->
      <div class="col-12 col-md-7 col-lg-8 col-xl-9">
        <div class="row">
          <div class="col">
            <h1>{{ game.name }}</h1>
            <p>{{ game.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
