{% extends "base_webapp.html" %}
{% load custom_tags %}
{% load static %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="container-fluid px-0 bg-white border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb" class="py-1">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item fs-6">
            <a class="text-decoration-none" href="{% url "home" %}"><small>Home</small></a>
          </li>
          <li class="breadcrumb-item fs-6"><a class="text-decoration-none" href="{% url "game-list" %}"><small>Games</small></a>
          </li>
          <li class="breadcrumb-item fs-6 active" aria-current="page"><small>{{ game.name }}</small></li>
        </ol>
      </nav>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container py-4">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <div class="card shadow border-0" style="">
          <div
              class="card-header text-decoration-none d-flex flex-column justify-content-end text-white border-bottom-0"
              style="background-image: linear-gradient(to top,
                  rgba(0, 0, 0, 0.8) 0%,
                  rgba(0, 0, 0, 0.3) 40%,
                  rgba(0, 0, 0, 0) 100%),
                  url('{{ game.cover_url }}');
                  background-position: center;
                  background-size: cover;
                  min-height: 150px;
                  padding-top: 40%"
          >
            <h5>{{ game.name }}</h5>
          </div>
          <div class="card-body text-decoration-none border-0">
            <p class="card-text text-secondary">{{ game.description }}</p>
          </div>
          <div
              class="card-footer text-body-secondary d-flex align-items-center bg-body-tertiary">
            <small>
              <i class="bi bi-lightning-charge"></i> {{ game.table_count }} {% trans "Played tables" %}
            </small>
            <small class="ms-3">
              <i class="bi bi-people-fill"></i> {{ game.player_count }} {% trans "Gamers" %}
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
