{% extends "base_webapp.html" %}
{% load custom_tags %}
{% load static %}
{% load i18n %}

{% block style %}
{% endblock %}

{% block content %}
  <div class="container py-4">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="h1">Account</div>
        {{ user.email }} · <a href="{% url "user-profile-detail" user.username %}">{% trans "See public profile" %}</a>

        <div class="mt-4 row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-3 g-4">
          <a href="{% url "user-profile-edit" %}" class="text-decoration-none col">
            <div class="card shadow border-0">
              <div class="card-header d-flex justify-content-between align-items-center"
                   style="background-color: darkseagreen"
              ></div>
              <div class="card-body">
                <i class="h1 bi bi-person-circle"></i>
                <small class="d-flex mt-4"><strong>{% trans "Edit profile" %}</strong></small>
                <small class="text-secondary">
                  {% trans "Edit your personal and account information" %}
                </small>
              </div>
            </div>
          </a>
          <a href="{% url "account-locations" %}" class="text-decoration-none col">
            <div class="card shadow border-0">
              <div class="card-header d-flex justify-content-between align-items-center"
                   style="background-color: darkseagreen"
              ></div>
              <div class="card-body">
                <i class="h1 bi bi-geo-alt-fill"></i>
                <small class="d-flex mt-4"><strong>{% trans "Manage locations" %}</strong></small>
                <small class="card-text text-secondary">
                  {% trans "Edit your locations and create new ones" %}
                </small>
              </div>
            </div>
          </a>
          <a href="{% url "account-tables" %}" class="text-decoration-none col">
            <div class="card shadow border-0">
              <div class="card-header d-flex justify-content-between align-items-center"
                   style="background-color: darkseagreen"
              ></div>
              <div class="card-body">
                <i class="h1 bi bi-lightning-charge-fill"></i>
                <small class="d-flex mt-4"><strong>{% trans "Manage tables" %}</strong></small>
                <small class="card-text text-secondary">
                  {% trans "Edit the information of the tables your organized" %}
                </small>
              </div>
            </div>
          </a>
          <a href="{% url "account-notifications" %}" class="text-decoration-none col">
            <div class="card shadow border-0">
              <div class="card-header d-flex justify-content-between align-items-center"
                   style="background-color: darkseagreen"
              ></div>
              <div class="card-body">
                <i class="h1 bi bi-bell-fill"></i>
                <small class="d-flex mt-4"><strong>{% trans "Notifications" %}</strong></small>
                <small class="card-text text-secondary">
                  {% trans "Choose notification preferences and how you want to be contacted" %}
                </small>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrabodyjs %}
{% endblock %}
