{% extends "base_webapp.html" %}
{% load custom_tags %}
{% load static %}
{% load i18n %}

{% block style %}
{% endblock %}

{% block breadcrumbs %}
  <div class="container-fluid px-0 bg-white border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb" class="py-1">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item fs-6 active" aria-current="page"><small>
            <a class="text-decoration-none" href="{% url "account-index" %}">{% trans "Account" %}</a>
          </small></li>
          <li class="breadcrumb-item fs-6 active" aria-current="page"><small>{% trans "Notifications" %}</small></li>
        </ol>
      </nav>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container py-4">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h1 class="h1">{% trans "Notifications" %}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        {% if notifications %}
          <ul class="list-unstyled mt-3">
            {% for notification in notifications %}
              {% if notification.table %}
                <li class="alert border">
                  <a href="{% url 'table-detail' slug=notification.table.slug %}"
                     class="text-decoration-none text-reset">
                    <div class="row">
                      <div class="col-12 col-lg order-last order-lg-first">
                        <h2 class="h5 mb-0"><i
                            class="bi bi-bell-o"></i> {{ notification.get_notification_type_display }}</h2>
                        {% if notification.message %}
                          <small
                              class="fst-italic border-start border-primary border-3 ps-2 d-block mt-1 mb-1">{{ notification.message|truncatechars:115 }}</small>
                        {% endif %}
                        <small><strong>{% trans "Table" %}</strong>: {{ notification.table.title }}</small>
                        {# <small><i class="bi bi-geo-alt-fill"></i> {{ notification.location.name }}</small>#}
                      </div>
                      <div class="col-auto">
                        <small class="text-muted">{{ notification.created_at|date:"SHORT_DATETIME_FORMAT" }}</small>
                      </div>
                    </div>
                  </a>
                </li>
              {% else %}
                <li class="alert border">
                  <div class="text-decoration-none text-reset">
                    <div class="row">
                      <div class="col-12 col-lg order-last order-lg-first">
                        <h2 class="h5 mb-0"><i
                            class="bi bi-bell-o"></i> {{ notification.get_notification_type_display }}</h2>
                        {% if notification.message %}
                          <small class="fst-italic border-start border-primary border-3 ps-2 d-block mt-1 mb-1">
                            {{ notification.message|truncatechars:115 }}
                          </small>
                        {% endif %}
                        <small><i class="bi bi-geo-alt-fill"></i> {{ notification.location.name }}</small>
                      </div>
                      <div class="col-auto">
                        <small class="text-muted">{{ notification.created_at|date:"SHORT_DATETIME_FORMAT" }}</small>
                      </div>
                    </div>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% else %}
          <p class="text-muted mt-4">{% trans "You have no notifications at the moment." %}</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block extrabodyjs %}
{% endblock %}
