{% extends "base_webapp.html" %}
{% load custom_tags %}
{% load static %}
{% load i18n %}

{% block style %}
{% endblock %}

{% block breadcrumbs %}
  <div class="container-fluid px-0 bg-white border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb" class="py-1">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item fs-6 active" aria-current="page"><small>
            <a class="text-decoration-none" href="{% url "account-index" %}">Account</a>
          </small></li>
          <li class="breadcrumb-item fs-6 active" aria-current="page"><small>Locations</small></li>
        </ol>
      </nav>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container py-4">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="h1">{% trans "Locations" %}</div>
        <p>Lorem ipsum</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrabodyjs %}
{% endblock %}
