{% extends "base_webapp.html" %}
{% load custom_tags %}
{% load static %}
{% load i18n %}

{% block style %}
{% endblock %}

{% block breadcrumbs %}
  <div class="container-fluid px-0 bg-white border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb" class="py-1">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item fs-6 active" aria-current="page"><small>
            <a class="text-decoration-none" href="{% url "account-index" %}">Account</a>
          </small></li>
          <li class="breadcrumb-item fs-6 active" aria-current="page"><small>Notifications</small></li>
        </ol>
      </nav>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container py-4">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="h1">{% trans "Notifications" %}</div>
      </div>
    </div>
  <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        {% if notifications %}
          <div class="list-group mt-3">
            {% for notification in notifications %}
              {% if notification.table %}
                <a href="{% url 'table-detail' slug=notification.table.slug %}" class="list-group-item list-group-item-action">
                  <div class="d-flex justify-content-between">
                    <div>
                      <strong>{{ notification.get_notification_type_display }}</strong><br>
                      {#                    <small>{{ notification.message }}</small><br>#}
                      <small>{{ notification.table.title }} - {{ notification.location.name }}</small>
                    </div>
                    <div class="text-end text-muted small">
                      {{ notification.created_at|date:"SHORT_DATETIME_FORMAT" }}
                    </div>
                  </div>
                </a>
              {% endif %}
            {% endfor %}
          </div>
        {% else %}
          <p class="text-muted mt-4">{% trans "You have no notifications at the moment." %}</p>
        {% endif %}
      </div>
  </div>
  </div>
{% endblock %}

{% block extrabodyjs %}
{% endblock %}
