{% extends "base_webapp.html" %}
{% load static %}
{% load i18n %}

{% block style %}
  {% include 'partials/form_styles.html' %}
{% endblock style %}

{% block breadcrumbs %}
  <div class="container-fluid px-0 bg-white border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb" class="py-1">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item fs-6 active" aria-current="page">
            <small><a class="text-decoration-none" href="{% url "home" %}">Home</a></small>
          </li>
          <li class="breadcrumb-item fs-6 active" aria-current="page">
            <small><a class="text-decoration-none"
                      href="{% url 'location-detail' location.slug %}">{{ location.name }}</a></small>
          </li>
          <li class="breadcrumb-item fs-6 active" aria-current="page">
            {% if form.instance.pk %}
              <small>{% trans "Edit table" %}</small>
            {% else %}
              <small>{% trans "New Table" %}</small>
            {% endif %}
          </li>
        </ol>
      </nav>
    </div>
  </div>
{% endblock %}


{% block content %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
          integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  {{ form.media }}

  <div class="container py-4">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-6 offset-md-2 offset-xl-3">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary shadow" action="" method="post">
          {% csrf_token %}
          <h1 class="fs-3 mb-4">
            {% if form.instance.pk %}
              {% trans "Edit table" %}
            {% else %}
              {% trans "Create a new table" %}
            {% endif %}
          </h1>

          <div class="row">
            <div class="col d-flex">
              <img class="img-thumbnail" style="height: 58px; border-top-right-radius: 0; border-bottom-right-radius: 0;" src="{{ location.cover_url }}"
                   alt="{{ location.name }} logo">
              <div class="form-floating mb-3 w-100">
                <input type="email" class="form-control text-truncate" style="border-top-left-radius: 0; border-bottom-left-radius: 0; border-left: none"
                       id="floatingInput" placeholder="name@example.com" value="{{ location.name }}" readonly disabled>
                <label for="floatingInput">Location</label>
              </div>
            </div>
          </div>

          <small class="d-block pb-2 text-secondary">{% trans "Insert the date and time of the game." %}</small>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                {{ form.date }}
                {{ form.date.label_tag|cut:":" }}
                {% if form.date.errors %}
                  <div class="invalid-feedback">
                    {% for error in form.date.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3">
                {{ form.time }}
                {{ form.time.label_tag|cut:":" }}
                {% if form.time.errors %}
                  <div class="invalid-feedback">
                    {% for error in form.time.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>

          <small
              class="d-block pt-3 pb-2 text-secondary">{% trans "Give your table a name and a description so it can be recognised!" %}</small>
          <div class="form-floating mb-3">
            {{ form.title }}
            {{ form.title.label_tag|cut:":" }}
            {% if form.title.errors %}
              <div class="invalid-feedback">
                {% for error in form.title.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="form-floating mb-3">
            {{ form.description }}
            {{ form.description.label_tag|cut:":" }}
            {% if form.description.errors %}
              <div class="invalid-feedback">
                {% for error in form.description.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <small
              class="d-block pt-3 pb-2 text-secondary">{% trans "Add the game that will be played at this table." %}</small>
          <div class="form-floating mb-3">
            {{ form.game }}
          </div>

          <small class="d-block pt-3 pb-2 text-secondary">
            {% trans "How many players are invited to this table?" %}
          </small>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                {{ form.min_players }}
                {{ form.min_players.label_tag|cut:":" }}
                {% if form.min_players.errors %}
                  <div class="invalid-feedback">
                    {% for error in form.min_players.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3">
                {{ form.max_players }}
                {{ form.max_players.label_tag|cut:":" }}
                {% if form.max_players.errors %}
                  <div class="invalid-feedback">
                    {% for error in form.max_players.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="row mt-4">
            {% if form.instance.pk %}
              <div class="col">
                <a class="btn btn-secondary btn-lg w-100" href="{% url "table-detail" table.slug %}">
                  <i class="bi bi-arrow-left"></i> {% trans "Cancel" %}
                </a>
              </div>
            {% endif %}
            <div class="col">
              <button class="btn btn-primary btn-lg w-100" type="submit">
                <i class="bi bi-file-earmark-plus"></i> {% trans "Publish" %}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extrabodyjs %}
  <script>
      document.addEventListener('DOMContentLoaded', function () {
          var timeInputs = document.querySelectorAll('.time-input');
          timeInputs.forEach(function (input) {
              input.addEventListener('change', function () {
                  var time = input.value.split(':');
                  var hours = time[0];
                  var minutes = time[1];

                  // Arrotonda i minuti ai valori più vicini (00, 15, 30, 45)
                  minutes = Math.round(minutes / 15) * 15;
                  if (minutes === 60) {
                      hours = parseInt(hours) + 1;
                      minutes = 0;
                  }

                  // Aggiorna il valore del campo di input
                  input.value = hours.toString().padStart(2, '0') + ':' + minutes.toString().padStart(2, '0');
              });
          });
      });
  </script>
{% endblock %}
