{% extends "base_webapp.html" %}
{% load static %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="container-fluid px-0 bg-white border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb" class="py-1">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item fs-6">
            <a class="text-decoration-none" href="{% url "home" %}"><small>Home</small></a>
          </li>
          <li class="breadcrumb-item fs-6 active" aria-current="page"><small>{{ table.title|truncatechars:25 }}</small>
          </li>
        </ol>
      </nav>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container py-4">
    <div class="row">
      <!-- table info -->
      <div class="col-12 col-md-5 col-lg-4 col-xl-4">

        <!-- table -->
        <div class="card shadow border-0 mb-4">
          <div class="card-header" style="background-color: slategrey">

          </div>
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span class="h5 flex-grow-1">{% trans "Table info" %}</span>
              <a class="text-decoration-none" href="{% url 'location-table-update' table.location.slug table.slug %}">
                <i class="bi bi-pencil-square"></i> Edit
              </a>
            </div>
          </div>
          <div class="card-body border-top">
            <small><strong>{% trans "Date and time" %}</strong></small>
            <br>
            <i class="bi bi-calendar4-event"></i> <small>{{ table.date|date:"j F" }}</small>
            <i class="bi bi-clock"></i> <small>{{ table.time|time:"H:i" }}</small>
            <br><br>
            <small><strong>{% trans "Address" %}</strong></small>
            <br>
            {% if table.location %}
              {% if table.location.is_public %}
                <small>{{ table.location.name }}</small><br>
              {% endif %}
              <small>{{ table.location.address }} (<a target="_blank"
                                                      href="http://maps.google.com/maps?q={{ table.location.latitude }},{{ table.location.longitude }}">map</a>)</small>
            {% else %}
              <small>
                {% trans "No location set for this table." %}<br>
                {% trans "Ask info to the organizer." %}
              </small>
            {% endif %}
          </div>

          <!-- game -->
          <div class="card-body border-top">
            <small><strong>{% trans "Game" %}</strong></small>
            <br>
            {% if table.game %}
              <small>
                <a href="{% url "game-detail" table.game.slug %}">{{ table.game }}</a>
              </small>
            {% else %}
              <small>
                {% trans "No game set for this table." %}
              </small>
            {% endif %}
          </div>
          <div class="card-body border-top">
            <small><strong>{% trans "Gamers" %}</strong> ({{ available_seats }} {% trans "available seats" %})</small>
            <br>
            {% for player in table.players.all %}
              <i class="bi bi-person-fill"></i>
              <small><a href="{% url "user-profile-detail" player.slug %}">{{ player }}</a> {% if not forloop.last %}
                <i class="bi bi-dot"></i>{% endif %}</small>
            {% empty %}
              <small>{% trans "No players yet." %}</small>
            {% endfor %}
          </div>
          <div class="card-body border-top">
            {% if user.user_profile in table.players.all %}
              <form method="post" action="{% url 'leave_table' table.slug %}">
                {% csrf_token %}
                <button class="btn btn-outline-danger w-100" type="submit">
                  <i class="bi bi-person-x-fill"></i> {% trans "Leave this Table" %}
                </button>
              </form>
            {% else %}
              <form method="post" action="{% url 'join_table' table.slug %}">
                {% csrf_token %}
                <button class="w-100 btn btn-primary" type="submit">
                  <i class="bi bi-person-check-fill"></i> {% trans "Join this table" %}
                </button>
              </form>
            {% endif %}
          </div>
          <div class="card-footer">
            <small>
              {% trans "By joining this table you agree to meet other gamers at the location at the given date and time." %}
            </small>
          </div>
        </div>

        <!-- location -->
        {% if table.location %}
          <a href="{% url "location-detail" table.location.slug %}"
             class="card shadow border-0 mb-4 text-decoration-none">
            <div class="card-header" style="background-color: slategrey">

            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <span class="h5 flex-grow-1">{% trans "Location info" %}</span>
              </div>
            </div>
            <div class="card-body border-top">
              <div class="row">
                <div class="col-12">
                  <img class="img-thumbnail object-fit-cover object-position-center"
                       style="width: 100px; height: 100px;" src="{{ table.location.cover_url }}"
                       alt="{{ table.location.name }} logo">
                </div>
                <div class="col-12 mt-3">
                  <p class="h5">{{ table.location.name }}</p>
                  <p class="card-text text-secondary"><small>{{ table.location.description }}</small></p>
                </div>
              </div>
            </div>
          </a>
        {% endif %}
      </div>

      <!-- comment section -->
      <div class="col-12 col-md-7 col-lg-8 col-xl-8">
        <div class="row">
          <!-- table description -->
          <div class="col-12">
            <h1>{{ table.title }}</h1>
            <p>{{ table.description }}</p>
            <i class="bi bi-person-fill"></i>
            <small>
              Table created by:
              <a href="{% url "user-profile-detail" table.author.user.user_profile.slug %}">
                {{ table.author.nickname }}
              </a>
            </small>
          </div>

          <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

          <!-- Classifica -->
          <div class="col-12 mt-3">
            <div class="card shadow border-0">
              <div class="card-header" style="background-color: slategrey"></div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <span class="h5 flex-grow-1 mb-0">
                    <i class="bi bi-trophy-fill"></i>
                    {% trans "Leaderboard" %}
                  </span>
                  {% if leaderboard_enabled and leaderboard_visible and user.user_profile in table.players.all %}
                    <a class="text-decoration-none" href="#" id="editLeaderboard">
                      <i class="bi bi-pencil-square"></i> Edit
                    </a>
                  {% endif %}
                </div>
                {% if not leaderboard_enabled %}
                  <small>{% trans "Not enabled for this game." %}</small>
                {% endif %}
              </div>
              {% if leaderboard_enabled %}
                <div class="card-body border-top">
                  {% if not leaderboard_visible and user.user_profile in table.players.all %}
                    <button id="createLeaderboard" class="btn btn-primary w-100">
                      {% trans "Create Leaderboard" %}
                    </button>
                  {% elif not leaderboard_visible and user.user_profile not in table.players.all %}
                    <p class="m-0">{% trans "Leaderboard not created yet." %}</p>
                  {% endif %}

                  {% if user.user_profile in table.players.all %}
                    <small class="d-flex align-items-center mb-2 d-none" id="editLeaderboardInstructions">
                      Use the <i class="bi bi-grip-vertical fs-5"></i> to adjust the positions.
                    </small>
                  {% endif %}

                  <div id="leaderboard"
                       class="d-flex flex-column gap-2 {% if not leaderboard_visible %}d-none{% endif %}">
                    {% for player in players %}
                      <div class="card draggable" data-player-id="{{ player.id }}">
                        <div class="card-body d-flex justify-content-between align-items-center">
                          <!-- Handle per il drag & drop -->
                          {% if request.user.is_superuser or user.user_profile in table.players.all %}
                            <i class="bi bi-grip-vertical handle me-2" style="cursor: move;"></i>
                          {% endif %}
                          <!-- Nome del giocatore -->
                          <span class="flex-grow-1">{{ player.user_profile.nickname }}</span>
                          <!-- Posizione -->
                          {% if player.position == 99 %}
                            <span class="badge bg-secondary rounded-pill">NEW</span>
                          {% else %}
                            <span class="badge bg-primary rounded-pill">{{ player.position }}</span>
                          {% endif %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>

                  {% if request.user.is_superuser or user.user_profile in table.players.all %}
                    <button id="saveOrder"
                            class="btn btn-secondary w-100 mt-3 {% if not leaderboard_visible %}d-none{% endif %}"
                            disabled>
                      {% trans "Update Leaderboard" %}
                    </button>
                  {% endif %}

                </div>
              {% endif %}
            </div>
          </div>

          <!-- Script per il Drag & Drop -->
          {% if request.user.is_superuser or user.user_profile in table.players.all %}
            <script>
                const leaderboard = document.getElementById('leaderboard');
                const saveOrderButton = document.getElementById('saveOrder');
                const createLeaderboardButton = document.getElementById('createLeaderboard');
                const editLeaderboardButton = document.getElementById('editLeaderboard');
                const editLeaderboardInstructions = document.getElementById('editLeaderboardInstructions');
                let sortableInstance; // Variabile per memorizzare l'istanza di SortableJS

                // Funzione per abilitare/disabilitare il drag & drop
                function toggleDrag(enabled) {
                    if (sortableInstance) {
                        sortableInstance.option("disabled", !enabled); // Abilita/disabilita il drag
                    }

                    const handles = document.querySelectorAll('.handle');
                    handles.forEach(handle => {
                        handle.style.display = enabled ? 'inline-block' : 'none'; // Mostra/nasconde l'handle
                    });
                }

                // Inizializzazione di SortableJS
                sortableInstance = new Sortable(leaderboard, {
                    animation: 150,
                    handle: '.handle',
                    ghostClass: 'sortable-ghost',
                    fallbackOnBody: true,
                    disabled: true, // Disabilita il drag all'inizio

                    onEnd: function () {
                        // Ricalcolo le posizioni dopo il drag
                        Array.from(leaderboard.children).forEach((item, index) => {
                            const badge = item.querySelector('.badge');
                            if (badge) {
                                badge.textContent = index + 1;
                                badge.classList.remove('bg-secondary');
                                badge.classList.add('bg-primary');
                            } else {
                                console.warn("Badge non trovato per l'elemento:", item);
                            }
                        });

                        // Abilita il bottone e cambia stile e testo
                        saveOrderButton.disabled = false;
                        saveOrderButton.classList.remove('btn-light', 'btn-secondary');
                        saveOrderButton.classList.add('btn-primary');
                        saveOrderButton.textContent = '{% trans "Update Leaderboard" %}';
                    }
                });

                // Event listener per il link "Edit"
                if (editLeaderboardButton) {
                    editLeaderboardButton.addEventListener('click', function (e) {
                        e.preventDefault(); // Previene il comportamento predefinito del link
                        toggleDrag(true); // Abilita il drag
                        editLeaderboardInstructions.classList.remove('d-none');
                        console.log("Drag & Drop abilitato!");
                    });
                }

                // Event listener per il bottone "Save"
                saveOrderButton.addEventListener('click', function () {
                    const players = Array.from(leaderboard.children).map((item, index) => ({
                        id: item.getAttribute('data-player-id'),
                        position: index + 1
                    }));

                    console.log("Sending data:", JSON.stringify({ players: players }));

                    fetch(`/api/tables/{{ table.id }}/update-player-position/`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({ players: players })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                saveOrderButton.disabled = true;
                                saveOrderButton.classList.remove('btn-primary');
                                saveOrderButton.classList.add('btn-light');
                                saveOrderButton.textContent = '{% trans "Leaderboard Updated" %}';
                                toggleDrag(false); // Disabilita il drag dopo il salvataggio
                                console.log("Leaderboard updated successfully!");
                            } else {
                                console.error("Error response:", data);
                            }
                        })
                        .catch(error => {
                            console.error("Fetch error:", error);
                        });
                });

                if (createLeaderboardButton) {
                    createLeaderboardButton.addEventListener('click', function () {
                        leaderboard.classList.remove('d-none');
                        saveOrderButton.classList.remove('d-none');
                        createLeaderboardButton.classList.add('d-none');
                    });
                }
            </script>
          {% endif %}

          <!-- Stile aggiuntivo per migliorare l'aspetto del drag & drop -->
          <style>
              .handle {
                  font-size: 1.5rem;
                  display: none; /* Nasconde l'handle di default */
              }
          </style>


          <!-- comment form -->
          <div class="col-12 mt-3">
            <h3>{% trans "Comments" %}</h3>
            {% if user.user_profile in table.players.all %}
              <form class="mb-4 mt-4" method="post">
                {% csrf_token %}
                <div class="form-floating mb-3">
                  {{ comment_form.content }}
                  {{ comment_form.content.label_tag|cut:":" }}
                </div>
                <button class="btn btn-primary" type="submit" name="comment_form">
                  <i class="bi bi-chat-square-dots-fill"></i> {% trans "Send comment" %}
                </button>
              </form>
            {% else %}
              <p class="py-3">
                <mark>
                  <i class="bi bi-exclamation-circle-fill"></i>
                  {% trans "Only gamers that joined the table can comment on this page." %}
                </mark>
              </p>
            {% endif %}
          </div>

          <style>
              .comments {
                  max-height: 550px;
                  overflow-y: auto;
                  padding-right: 8px;
              }

              .comments::-webkit-scrollbar {
                  -webkit-appearance: none;
                  width: 7px;
              }

              .comments::-webkit-scrollbar-thumb {
                  border-radius: 4px;
                  background-color: rgba(0, 0, 0, .5);
                  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
              }
          </style>

          <!-- comment list -->
          <div class="comments">
            {% for comment in table.comments.all %}
              <div class="bg-light rounded p-3 mb-2">
                <div class="d-flex justify-content-between align-items-center mb-1">
                  <div>
                      <span class="badge text-bg-light p-0"><i
                          class="bi bi-person-fill"></i> {{ comment.author }}</span>
                    <span class="badge text-bg-light fw-normal p-0">{{ comment.created_at|date:"j F Y G:i" }}</span>
                  </div>
                  {% if request.user == comment.author.user %}
                    <button type="button" class="btn btn-light btn-sm text-secondary" data-bs-toggle="modal"
                            data-bs-target="#deleteCommentModal"
                            data-comment-url="{% url 'comment-delete' comment.uuid %}">
                      <i class="bi bi-trash3"></i>
                    </button>
                  {% endif %}

                </div>
                <div class="text-secondary">{{ comment.content }}</div>
              </div>
            {% empty %}
              <div class="bg-light rounded p-3 mb-2">
                <div class="d-flex justify-content-between align-items-center mb-1">
                  <div class="text-secondary">{% trans "There are no comments yet." %}</div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteCommentModal" tabindex="-1" aria-labelledby="deleteCommentModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <form method="post" id="commentDeleteForm">
        {% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteCommentModalLabel">{% trans "Confirm delete" %}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% trans "Are you sure you want to delete the comment?" %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
            <button type="submit" class="btn btn-danger">{% trans "Delete comment" %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

{% block extrabodyjs %}
  <script>
      const deleteCommentModal = document.getElementById('deleteCommentModal');
      deleteCommentModal.addEventListener('show.bs.modal', function (event) {
          const button = event.relatedTarget;
          const commentUrl = button.getAttribute('data-comment-url');
          const form = deleteCommentModal.querySelector('form');
          form.action = commentUrl
      })
  </script>
{% endblock extrabodyjs %}
