{% extends "base_webapp.html" %}
{% load custom_tags %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="container col-xl-10 col-xxl-8 px-4 py-2">
  <p class="h1">{% trans "Upcoming tables" %}</p>
  </div>
  <div class="container py-4">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4 g-4">
      {% for table in tables %}
        {% table_list_item table %}
      {% empty %}
        <p>{% trans "No tables found." %}</p>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
