{% extends "base_webapp.html" %}
{% load static %}
{% load i18n %}

{% block style %}
  {% include 'partials/form_styles.html' %}
{% endblock style %}

{% block breadcrumbs %}
  <div class="container-fluid px-0 bg-white border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb" class="py-1">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item fs-6 active" aria-current="page">
            <small><a class="text-decoration-none" href="{% url "home" %}">Home</a></small>
          </li>
          <li class="breadcrumb-item fs-6 active" aria-current="page">
            <small><a class="text-decoration-none" href="{% url 'location-detail' location.slug %}">{{ location.name }}</a></small>
          </li>
          <li class="breadcrumb-item fs-6 active" aria-current="page">
            {% if form.instance.pk %}
              <small>{% trans "Edit table" %}</small>
            {% else %}
              <small>{% trans "New Table" %}</small>
            {% endif %}
          </li>
        </ol>
      </nav>
    </div>
  </div>
{% endblock %}


{% block content %}

  <style>
      .custom-switch .form-check-input {
          width: 3rem; /* Larghezza dello switch */
          height: 1.5rem; /* Altezza dello switch */
          margin-left: -2.25rem;
      }

      .custom-switch .form-check-input:checked + .form-check-label::before {
          background-color: #0d6efd; /* Colore di sfondo quando è selezionato */
          border-color: #0d6efd; /* Colore del bordo quando è selezionato */
      }

      .custom-switch .form-check-input::before {
          height: 1.5rem; /* Altezza dell'indicatore dello switch */
          width: 3rem; /* Larghezza dell'indicatore dello switch */
          border-radius: 1rem; /* Raggio del bordo per rendere gli angoli arrotondati */
      }

      .custom-switch .form-check-input::after {
          width: 1.25rem; /* Larghezza dell'interruttore interno */
          height: 1.25rem; /* Altezza dell'interruttore interno */
          border-radius: 50%; /* Rende l'interruttore interno circolare */
      }

      .custom-switch label {
          width: 90%;
          padding-left: 15px;
      }
  </style>


  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
          integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  {{ form.media }}

  <div class="container py-4">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-6 offset-md-2 offset-xl-3">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary shadow" action="" method="post">
          {% csrf_token %}
          <h1 class="fs-3 mb-4">
            {% if form.instance.pk %}
              {% trans "Edit table" %}
            {% else %}
              {% trans "Create a new table" %}
            {% endif %}
          </h1>

          <small class="d-block pb-2 text-secondary">{% trans "Insert the date and time of the game." %}</small>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                {{ form.date }}
                {{ form.date.label_tag|cut:":" }}
                {% if form.date.errors %}
                  <div class="invalid-feedback">
                    {% for error in form.date.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3">
                {{ form.time }}
                {{ form.time.label_tag|cut:":" }}
                {% if form.time.errors %}
                  <div class="invalid-feedback">
                    {% for error in form.time.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>

          <small
              class="d-block pt-3 pb-2 text-secondary">{% trans "Give your table a name and a description so it can be recognised!" %}</small>
          <div class="form-floating mb-3">
            {{ form.title }}
            {{ form.title.label_tag|cut:":" }}
            {% if form.title.errors %}
              <div class="invalid-feedback">
                {% for error in form.title.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="form-floating mb-3">
            {{ form.description }}
            {{ form.description.label_tag|cut:":" }}
            {% if form.description.errors %}
              <div class="invalid-feedback">
                {% for error in form.description.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <small
              class="d-block pt-3 pb-2 text-secondary">{% trans "Add the games that will be played at this table." %}</small>
          <div class="form-floating mb-3">
            {{ form.games }}
          </div>

          <small class="d-block pt-3 pb-2 text-secondary">
            {% trans "How many players are invited to this table?" %}
          </small>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                {{ form.min_players }}
                {{ form.min_players.label_tag|cut:":" }}
                {% if form.min_players.errors %}
                  <div class="invalid-feedback">
                    {% for error in form.min_players.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3">
                {{ form.max_players }}
                {{ form.max_players.label_tag|cut:":" }}
                {% if form.max_players.errors %}
                  <div class="invalid-feedback">
                    {% for error in form.max_players.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>


{#          <div class="form-check form-switch pt-3 pb-3 custom-switch">#}
{#            {{ form.is_public_location }}#}
{#            <label class="form-check-label" for="id_is_public_location">#}
{#              {% trans "Click here if the table is organized in a public location (like a bar, or a board games café)." %}</label>#}
{#          </div>#}

{#          <div id="public-location">#}
{#            <small class="d-block text-secondary">#}
{#              {% trans "If you organized a table in a public location, you can select it here." %}</small>#}
{#            <small class="d-block pb-2 text-secondary">#}
{#              {% trans "(Be sure to book the Location in advance. Creating a table here does not guarantee there will be space at the location at the desired date and time.)" %}#}
{#            </small>#}
{#          </div>#}

{#          <div class="form-floating mb-3">#}
{#            {{ form.location }}#}
{#          </div>#}

{#          <small class="text-secondary">#}
{#            {% trans "Can't find the desired location?" %}#}
{#            <a class="btn btn-sm btn-outline-secondary" href="{% url "location-create" %}" target="_blank">#}
{#              <i class="bi bi-box-arrow-up-right"></i> {% trans "CREATE A NEW LOCATION" %}#}
{#            </a>#}
{#          </small>#}

          <div class="row mt-4">
            {% if form.instance.pk %}
              <div class="col">
                <a class="btn btn-secondary btn-lg w-100" href="{% url "table-detail" table.slug %}">
                  <i class="bi bi-arrow-left"></i> {% trans "Cancel" %}
                </a>
              </div>
            {% endif %}
            <div class="col">
              <button class="btn btn-primary btn-lg w-100" type="submit">
                <i class="bi bi-file-earmark-plus"></i> {% trans "Publish" %}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extrabodyjs %}
  <script>
      document.addEventListener('DOMContentLoaded', function () {
          var timeInputs = document.querySelectorAll('.time-input');
          timeInputs.forEach(function (input) {
              input.addEventListener('change', function () {
                  var time = input.value.split(':');
                  var hours = time[0];
                  var minutes = time[1];

                  // Arrotonda i minuti ai valori più vicini (00, 15, 30, 45)
                  minutes = Math.round(minutes / 15) * 15;
                  if (minutes === 60) {
                      hours = parseInt(hours) + 1;
                      minutes = 0;
                  }

                  // Aggiorna il valore del campo di input
                  input.value = hours.toString().padStart(2, '0') + ':' + minutes.toString().padStart(2, '0');
              });
          });
      });
  </script>

{#  <script>#}
{#      document.addEventListener('DOMContentLoaded', function () {#}
{#          var switchElement = document.getElementById('id_is_public_location');#}
{#          var publicLocationDiv = document.getElementById('public-location');#}
{#          var locationSelect = document.getElementById('id_location');#}
{#          #}
{#          function initPublicLocationVisibility() {#}
{#              if (switchElement.checked) {#}
{#                  publicLocationDiv.classList.remove('d-none');#}
{#              } else {#}
{#                  publicLocationDiv.classList.add('d-none');#}
{#              }#}
{#          }#}
{##}
{#          function togglePublicLocationVisibility() {#}
{#              if (switchElement.checked) {#}
{#                  publicLocationDiv.classList.remove('d-none');#}
{#                  $(locationSelect).val(null).trigger('change');#}
{#              } else {#}
{#                  publicLocationDiv.classList.add('d-none');#}
{#                  $(locationSelect).val(null).trigger('change');#}
{#              }#}
{#          }#}
{##}
{#          switchElement.addEventListener('change', togglePublicLocationVisibility);#}
{#          initPublicLocationVisibility();#}
{#      });#}
{#  </script>#}
{% endblock %}
