{% load i18n %}

<div class="swiper-slide">
  <div class="card shadow border-0" style="">
    <a href="{% url "table-detail" table.slug %}"
      class="card-header text-decoration-none d-flex flex-column justify-content-end text-white border-bottom-0" style="background-image: linear-gradient(to top,
           rgba(0, 0, 0, 0.8) 0%,
           rgba(0, 0, 0, 0.3) 40%,
           rgba(0, 0, 0, 0) 100%),
           url('{{ table.cover_url }}');
           background-position: center;
           background-size: cover;
           height: 150px;">
      <span class="badge rounded-pill {{ table.status_badge_class }}" style="position: absolute; top:8px; right:16px">
        {{ table.get_status_display }}
      </span>

      {% if table.game %}
      <h5>{{ table.game }}</h5>
      {% endif %}

      {% if table.location %}
      {% if table.location.is_public %}
      <span><i class="bi bi-geo-alt-fill"></i> <small>{{ table.location }}</small></span>
      {% else %}
      <span><i class="bi bi-geo-alt-fill"></i> <small>{% trans "Private location" %}</small></span>
      {% endif %}
      {% endif %}
    </a>
    <a href="{% url "table-detail" table.slug %}" class="card-body text-decoration-none border-0"
      style="height: 160px">
      <p class="h5 card-title">{{ table.title|truncatechars:30 }}</p>
      <p class="card-text text-secondary"><small>{{ table.description|truncatechars:80 }}</small></p>
    </a>
    <div class="card-footer text-light d-flex justify-content-between align-items-center bg-dark">
      <small><i class="bi bi-calendar4-event"></i> {{ table.date|date:"j F" }}</small>
      <small><i class="bi bi-clock"></i> {{ table.time|time:"H:i" }}</small>
      <small>
        <i class="bi bi-people-fill"></i> {{ table.total_players }}/{{ table.max_players }}
      </small>
    </div>
  </div>
</div>
